*.[oa]
*.so
*.pyc
*~
\#*\#
*.tar.gz
*Dict*
music
ECCrossSectionRescaler
ECFileUtil
ECMerger
GlobalStuff
ROI_analysis
TECResultMerger
ScaledXSections.txt
EventClassFactory/FakeClass
MISv2/dicePseudoData
MISv2/printData
MISv2/scanClass